body {
  font-family: "Microsoft Yahei", Arial;
  text-align: center;
  margin: 0;
  padding: 0;
  user-select: none;
}
a {
  text-decoration: none;
}
.topnav {
  width: 100%;
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  background: #fff;
}
.topnav .topnavson {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.topnav .topnavson .logo {
  width: 30%;
  height: 100%;
  float: left;
}
.topnav .topnavson .buttoncss {
  width: 150px;
  height: 45px;
  line-height: 45px;
  background: #ff7300;
  float: right;
  border-radius: 5px;
  color: #fff;
  margin: 26px;
}
.nav {
  width: 100%;
  height: auto;
  background: #ff7300;
}
.nav .navson {
  width: 1200px;
  height: 45px;
  line-height: 45px;
  margin: 0 auto;
}
.nav .navson a {
  color: #fff;
  text-align: center;
  display: block;
  width: 10%;
  height: 100%;
  float: left;
}
.nav .navson a:nth-child(1) {
  background: #ff5d0f;
}
.banner {
  width: 100%;
  height: 300px;
}
.banner .swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.banner .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.banner .swiper-pagination-bullet-active {
  background: #ff7300;
}
.tonglan {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.tonglan .tonglanson {
  width: 1200px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}
.jrtj {
  width: 15%;
  height: 150px;
  margin: 20px auto;
  background: url("../images/tj.png") no-repeat left center;
  float: left;
  background-size: 100% auto;
}
.jrtjdiv {
  width: 85%;
  height: 150px;
  margin: 20px auto;
  background: #fdfdfd;
  float: left;
  display: block;
  background-size: 100% auto;
}
.swiper-container {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-container .swiper-pagination-bullet-active {
  background: #ff7300;
}
.pinpqu {
  width: 19.9%;
  height: 100px;
  float: left;
  box-sizing: border-box;
  border-right: 1px solid #eeeeee;
}
.pinpqu:nth-child(5n) {
  border-right: 0;
}
.addBorbh {
  border-bottom: 1px solid #eeeeee;
}
.pinpqutt {
  text-align: left;
  color: #ff7300;
  font-size: 20px;
  margin: 10px auto;
}
.changjiajhTJtt {
  text-align: left;
  height: 35px;
  line-height: 35px;
  color: #ff7300;
  font-size: 20px;
}
.changjiajhTJ {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.changjiajhTJ .left {
  width: 24%;
  height: auto;
  overflow: hidden;
  margin: 10px auto;
  float: left;
  border: 1px solid #eee;
}
.changjiajhTJ .left a {
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: block;
  cursor: pointer;
  text-align: left;
  text-indent: 20px;
  border-bottom: 1px solid #ededed;
}
.changjiajhTJ .left a span {
  color: #ccc;
  font-size: 12px;
  padding-left: 5px;
}
.changjiajhTJ .left a.addStl {
  background: #ff7300;
  color: #fff;
  font-size: 18px;
}
.changjiajhTJ .left a:nth-last-child(1) {
  border-bottom: 0;
}
.changjiajhTJ .right {
  width: 75%;
  height: auto;
  overflow: hidden;
  float: right;
}
.changjiajhTJ .right .sontab {
  width: 100%;
  height: auto;
}
.changjiajhTJ .right .sontab .sonleft {
  width: 75%;
  height: auto;
  float: left;
}
.changjiajhTJ .right .sontab .sonleft .chpdiv {
  width: 30%;
  height: auto;
  float: left;
  margin: 10px 9px;
}
.changjiajhTJ .right .sontab .sonleft .chpdiv .imgdivs {
  width: 100%;
  height: 120px;
}
.changjiajhTJ .right .sontab .sonleft .chpdiv .imgdivs img {
  object-fit: contain;
  object-position: center;
  border: 1px solid #eee;
  width: 100%;
  height: 100%;
}
.changjiajhTJ .right .sontab .sonleft .chpdiv span {
  color: #333;
  padding: 10px 0;
  width: 100%;
  height: auto;
  display: block;
  font-size: 12px;
  text-align: center;
}
.changjiajhTJ .right .sontab .sonright {
  width: 25%;
  height: auto;
  float: right;
}
.changjiajhTJ .right .sontab .sonright .imgcontain {
  width: 100%;
  height: 100px;
  margin: 10px auto;
}
.changjiajhTJ .right .sontab .sonright .imgcontain img {
  object-fit: contain;
  object-position: center;
  border: 1px solid #eee;
  width: 99%;
  height: 100%;
}
.newsdiv {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
.newsdiv .ttils {
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: left;
  text-indent: 10px;
  background: #fdfdfd;
  font-size: 20px;
  border-bottom: 1px solid #fcfcfc;
}
.newsdiv .ttils a {
  float: right;
  font-size: 12px;
  padding-right: 10px;
}
.newsdiv .newsleft {
  width: 64%;
  height: auto;
  overflow: hidden;
  float: left;
}
.newsdiv .newsleft .forthdiv {
  width: 50%;
  height: 120px;
  float: left;
  overflow: hidden;
  margin: 10px auto;
}
.newsdiv .newsleft .forthdiv .imgcon {
  width: 40%;
  height: 120px;
  float: left;
}
.newsdiv .newsleft .forthdiv .imgcon img {
  width: 100%;
  height: 98%;
  object-fit: contain;
  object-position: center;
  border: 1px solid #eee;
}
.newsdiv .newsleft .forthdiv .wencon {
  width: 55%;
  height: 100%;
  padding-left: 4%;
  overflow: hidden;
  float: right;
  text-align: left;
}
.newsdiv .newsleft .forthdiv .wencon .tt {
  width: 90%;
  height: 80%;
  line-height: 40px;
  font-size: 20px;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.newsdiv .newsleft .forthdiv .wencon .xtt {
  width: 90%;
  height: 20%;
  line-height: 20px;
  font-size: 12px;
  color: #cecece;
}
.newsdiv .newsright {
  width: 35%;
  height: auto;
  overflow: hidden;
  float: right;
}
.listdiv {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  clear: both;
}
.listdiv li {
  width: 100%;
  height: 35px;
  line-height: 35px;
  list-style: none;
  border-bottom: 1px solid #fdfdfd;
  text-align: left;
  overflow: hidden;
  margin: 5px auto;
  text-indent: 10px;
  padding: 0;
  clear: both;
}
.listdiv li:hover {
  background: #fdfdfd;
}
.listdiv li .chaolian {
  display: block;
  width: 100%;
  height: 100%;
  float: left;
  clear: both;
  color: #666;
}
.listdiv li .chaolian .wen {
  width: 80%;
  height: 100%;
  float: left;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.listdiv li .chaolian .liang {
  width: 19%;
  height: 100%;
  float: right;
  display: block;
  padding-right: 1%;
  color: #cecece;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.youqinglijie {
  width: 1200px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}
.youqinglijie .yqtt {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #666;
  font-size: 20px;
  text-align: left;
  text-indent: 10px;
  border-bottom: 1px solid #fdfdfd;
}
.youqinglijie .yqdiv {
  width: 100%;
  height: auto;
}
.youqinglijie .yqdiv .yqson {
  width: 12.3%;
  height: 60px;
  overflow: hidden;
  float: left;
  margin: .1%;
}
.youqinglijie .yqdiv .yqson img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}
